<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="informationaesthetics.powerhawkrealtime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_official"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_official"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartupActivity" />
        <activity android:name=".URLHandlerActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".ServerActivity"
            android:label="@string/title_activity_server"
            android:theme="@style/AppTheme" />

        <service android:name=".FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".BackGroundNotification">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_official" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorFour" />

        <activity
            android:name=".FirebaseLoginActivity"
            android:label="@string/title_activity_firebase_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoadFromDatabase"
            android:label="@string/title_activity_load_from_database"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>